extends layout

block content
  .page-header
    h1= title

  form.form(action="/completetask", method="post")
    table.table.table-striped.table-bordered
      tr
        td Name
        td Category
        td Date
        td Complete
      if (typeof tasks === "undefined")
        tr
          td
      else
        each task in tasks
          tr
            td #{task.name._}
            td #{task.category._}
            - var day   = task.Timestamp._.getDate();
            - var month = task.Timestamp._.getMonth() + 1;
            - var year  = task.Timestamp._.getFullYear();
            td #{month + "/" + day + "/" + year}
            td
              input(type="checkbox", name="#{task.RowKey._}", value="#{!task.completed._}", checked=task.completed._)
    button.btn.btn-primary(type="submit") Update tasks
  hr
  form.form-horizontal(action="/addtask", method="post")
    .row
      .col-sm-4
        .panel.panel-default
          .panel-heading
            p.panel-title Add Item
          .panel-body
            .form-group
              .col-sm-12
                label(for="item-name") Item Name:
                input.form-control(id="item-name", name="item[name]", type="textbox", required)
            .form-group
              .col-sm-12
                label(for="item-category") Item Category:
                input.form-control(id="item-category", name="item[category]", type="textbox", required)
            
          .panel-footer
            button.btn.btn-primary.btn-block(type="submit") Add item
