extends layout

block content
  h1= title
  br

  form(action="/completetask", method="post")
    table.table.table-striped.table-bordered
      tr
        td Name
        td Category
        td Date
        td Complete
      if (typeof tasks === "undefined")
        tr
          td
      else
        each task in tasks
          tr
            td #{task.name._}
            td #{task.category._}
            - var day   = task.Timestamp._.getDate();
            - var month = task.Timestamp._.getMonth() + 1;
            - var year  = task.Timestamp._.getFullYear();
            td #{month + "/" + day + "/" + year}
            td
              input(type="checkbox", name="#{task.RowKey._}", value="#{!task.completed._}", checked=task.completed._)
    button.btn(type="submit") Update tasks
  hr
  form.well(action="/addtask", method="post")
    label Item Name:
    input(name="item[name]", type="textbox")
    label Item Category:
    input(name="item[category]", type="textbox")
    br
    button.btn(type="submit") Add item